/backend_terraform/.terraform
/backend_terraform/*.hcl
/backend_terraform/terraform.tfstate
/backend_terraform/terraform.tfstate.backup
/infraestructure/.terraform
/infraestructure/*.hcl
/infraestructure/terraform.tfstate
/infraestructure/terraform.tfstate.backup