# CI pipeline for pull requests to main branch
name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  tests-and-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: pip install pytest boto3 flake8 flask coverage

      - name: Lint (flake8)
        working-directory: ./miapp
        run: flake8 app.py -v

      - name: Tests with coverage
        run: |
          coverage run -m pytest -q tests
          coverage xml
            
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_HOST_URL: https://sonarcloud.io
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: .
          args: >
            -Dsonar.projectKey=demo-infraestructure_tests-sonar
            -Dsonar.organization=demo-infraestructure
            -Dsonar.sources=miapp/app.py
            -Dsonar.python.coverage.reportPaths=coverage.xml
